.projectList {
  padding-top: 51px;
}

.projectList h3 {
  font-size: 32px;
  font-weight: 900;
}

.projectList span {
  font-family: "Lato", sans-serif;
  margin-left: 10%;
}

.sideProjectList {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

.sideProject {
  display: flex;
  margin: 125px 0px;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.sideProject-text {
  position: relative;
  width: 40%;
  transition: 0.75s;
  position: relative;
}

.sideProject-text p {
  font-size: 18px;
  max-width: 540px;
  line-height: 2rem;
  padding-bottom: 30px;
}

.sideProject-img {
  width: 55%;
  display: block;
  max-width: 500px;
}

.sideProject-img img {
  width: 500px;
  height: 400px;
  box-shadow: 0 4px 50px 0 rgba(97, 97, 94, 0.75);
  background-size: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.6s;
}

.sideProject-img img:hover {
  transform: scale(1.1);
}

.readMore-btn {
  padding: 10px;
  background: #ffc340;
  color: #000000;
  border-radius: 5px;
  box-shadow: 0 4px 15px 0 rgba(151, 155, 155, 0.5);
  transition: 0.75s;
  -webkit-transition: 0.75s;
}

.readMore-btn:hover {
  color: #ffffff;
}

#colmarAcademy {
  margin-top: 80px;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .project {
    padding: 24px;
  }
  .sideProject-text p {
    font-size: 14px;
    line-height: 1.75rem;
  }
  .projectList span {
    margin-left: 24px;
  }
  .sideProject-img img {
    width: 350px;
    height: 250px;
  }
}

@media screen and (min-width: 992px) {
  .sideProject-text:hover {
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .sideProject-min {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .sideProject {
    display: none;
  }
  .sideProject-min {
    margin-bottom: 40px;
  }
  .projectList span {
    font-size: 20px;
  }
  .sideProject-img {
    width: 80%;
  }
  .sideProject-img img {
    width: 120%;
    height: auto;
  }
  .sideProject-text {
    width: 100%;
  }
  .sideProject-text h3 {
    font-size: 40px;
    margin-top: 20px;
    font-weight: 900;
  }
  .sideProject-text p {
    margin-top: 10px;
    max-width: 540px;
    line-height: 1.75;
    font-size: 20px;
  }
}
