.projectList {
  padding-top: 51px;
}

.projectList h3 {
  font-size: 32px;
  font-weight: 900;
}

.projectList span {
  font-family: "Lato", sans-serif;
  margin-left: 10%;
}

.sideProjectList {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

.sideProject {
  display: flex;
  margin: 125px 0px;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.sideProject-text {
  position: relative;
  width: 40%;
  transition: 0.75s;
  position: relative;
}

.sideProject-text p {
  font-size: 15px;
  max-width: 540px;
  line-height: 2rem;
  padding-bottom: 30px;
}

.sideProject-img {
  width: 55%;
  display: block;
  max-width: 500px;
}

.sideProject-img img {
  width: 500px;
  height: 400px;
  box-shadow: 0 4px 50px 0 rgba(97, 97, 94, 0.75);
  background-size: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.6s;
}

.sideProject-img img:hover {
  transform: scale(1.1);
}

.readMore-btn {
  padding: 10px;
  background: #ffc340;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 15px 0 rgba(151, 155, 155, 0.5);
  transition: border-radius 2s;
  -webkit-transition: border-radius 2s;
}

.readMore-btn:hover {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

#colmarAcademy {
  margin-top: 80px;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: 1s;
  transform: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

@media screen and (max-width: 991px) {
  .project {
    padding: 24px;
  }
  .sideProject-text p {
    font-size: 14px;
    line-height: 1.75rem;
  }
  .projectList span {
    margin-left: 24px;
  }
  .sideProject-img img {
    width: 350px;
    height: 250px;
  }
}

@media screen and (min-width: 992px) {
  .sideProject-text:hover {
    padding-bottom: 40px;
  }
}
