.nav-menu {
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  display: flex;
  background: #fff;
  box-sizing: border-box;
  padding-left: 42px;
  padding-right: 42px;
  margin-bottom: 24px;
  min-width: 100%;
}

.title {
  margin: 0px 16px;
  font-size: 24px;
  color: #5c5c5c;
}

.title:hover {
  color: #ffc340;
  transition: 0.25s;
}

.homepage {
  color: #ffc340;
  font-weight: bolder;
  margin-left: 0px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  margin-left: 0px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0);
  z-index: 1;
}

.dropdown-content a {
  color: #5c5c5c;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: 0.5s;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: #000000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.openbtn {
  font-size: 30px;
  cursor: pointer;
  background: fixed;
  color: #111;
  border: none;
}

.sidepanel {
  position: fixed;
  text-align: center;
  z-index: 1;
  width: 100%;
  top: -100px;
  left: 0px;
  background: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  margin: 20px;
}

.sidepanel .closebtn {
  position: absolute;
  top: 100px;
  right: 25px;
  font-size: 36px;
}

.hamList-top {
  margin-top: 100px;
}

.hamList {
  padding: 20px;
  font-size: 14px;
  font-weight: 500;
}

.hamDropdown {
  position: relative;
  display: inline-block;
}

.case{
  margin: 10px;
}

.case a{
  color: #5375ff;
}

@media screen and (max-width: 991px) {
  .title,
  .dropdown-content a {
    font-size: 15px;
  }
  .dropdown-content {
    min-width: 100px;
  }
}

@media screen and (max-width: 479px) {
  .desktop{
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .mobile{
    display: none;
  }
}