.nav-menu {
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  display: flex;
  background-color: #fff;
  box-sizing: border-box;
  padding-left: 42px;
  padding-right: 42px;
  margin-bottom: 24px;
}

.title {
  margin: 0px 16px;
  font-size: 24px;
}

.title:hover{
  color: #ffc340;
  transition: 0.25s;
}

.homepage {
  color: #ffc340;
  font-weight: bolder;
  margin-left: 0px;
}
