* {
  text-decoration: none;
  box-sizing: border-box;
  font-family: "PT Serif", serif;
  margin: 0px;
  padding: 0px;
}

*::selection {
  background-color: #fff6c0;
}

a {
  color: #5c5c5c;
}

html {
  display: flex;
  justify-content: center;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #424850;
  font-family: "Colfax", Sans-Serif;
  line-height: 2.6rem;
}

div {
  margin: 0px 24px;
}