.footer {
    background: #f5f5f5;
}

.footer-inner {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
    padding: 90px 0;
    display: flex;
}

.footer-img {
    justify-content: flex-start;
}

.footer-img-inner  img{
    width: 30px;
    height: 30px;
    margin-right: 30px;
    cursor: pointer;  
    transition: all 0.6s;  
}

.footer-img-inner img:hover{
    transform: scale(1.4);
}

/* .contact {
    padding-right: 50px;
} */
.contact, .quickLinks {
    padding: 0 50px;
}

.quickLinks div {
    margin-top: 10px;
}

.quickLinks div:hover {
    margin-left: 10px;
    transition: 0.5s;
}